<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kite"
    android:versionCode="1"
    android:versionName="1.0" >
   
     <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />


<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.kite.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="com.example.kite.log"
            android:label="@string/app_name" ></activity>
        <activity android:name="com.example.kite.reg"
            android:label="@string/app_name" ></activity>
        <activity android:name="com.example.kite.list"
            android:label="@string/app_name" ></activity>
        <activity android:name="com.example.kite.books"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.post"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.dept"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.cse"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.view"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.list_group"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.child"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.details"
            android:label="@string/app_name" ></activity>
   		<activity android:name="com.example.kite.bdesc"
            android:label="@string/app_name" ></activity>
    </application>

</manifest>
